<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produto</title>
    <!-- Trazer o estilo do bootsrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Cadastrar Produto</h1>
        <form method="POST" class="mt-3">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.nome_produto.label(class="form-label") }}
                {{ form.nome_produto(class="form-control", size=32) }}
            </div>
            <div class="form-group">
                {{ form.descricao_produto.label(class="form-label") }}
                {{ form.descricao_produto(class="form-control", size=32) }}
            </div>
            <div class="form-group">
                {{ form.valor_produto.label(class="form-label") }}
                {{ form.valor_produto(class="form-control", size=32) }}
            </div>
            <div class="form-check mb-3">
                {{ form.disponivel_venda(class="form-check-input") }}
                {{ form.disponivel_venda.label(class="form-check-label") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
